<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/nicepage.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/talent.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script class="u-script" type="text/javascript" src="/scripts/nicepage.js" defer=""></script>
    </head>


    <section class="u-clearfix u-image u-section-1 margin-top" id="sec-746c" data-image-width="150"
        data-image-height="99" data-image='<%= talents.photo %>'>
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-list u-repeater u-list-1">
                <% for (let freelancer of talents.freelancers){ %>
                    <div
                        class="u-container-style u-gradient u-list-item u-repeater-item u-shape-rectangle u-list-item-1">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                            <img alt="" class="u-expanded-width u-image u-image-default u-image-1"
                                data-image-width="2000" data-image-height="1333"
                                src="<%= freelancer.profileImage %> ">
                            <h3 class="u-text u-text-1">
                                <a href="/about-talent/<%= freelancer._id %>">
                                    <%= freelancer.name %>
                                    <%= freelancer.surname %>
                                </a>
                            </h3>
                            <div
                                class="u-border-1 u-border-grey-dark-1 u-expanded-width u-line u-line-horizontal u-line-1">
                            </div>
                            <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or
                                double
                                click to start
                                editing the text.</p>
                            <a href="/about-talent/<%= freelancer._id %>" class="btn u-button-style u-btn-1 clr">learn
                                more</a>
                        </div>
                        <form  class="xButtonForm" action="/talent/<%= `${freelancer._id}/${talents._id}` %>/?_method=DELETE" method="post">
                            <button>X</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>

        <button class="addImage"><i class="fas fa-plus"></i></button>

        <form action="/talent/<%= talents._id %>" method="post" class="form1 unvisible" enctype="multipart/form-data">
            <div>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div>
                <label for="surname">Surname</label>
                <input type="text" name="surname" id="surname" required>
            </div>
            <div>
                <label for="background_img">Background-Image</label>
                <input type="file" name="file" id="background_img" multiple>
            </div>
            <input type="submit" value="Submit" id="submit">
        </form>
    </section>
    
    <script src="/scripts/talents.js">
        // const image = document.getElementById("sec-746c");
        // image.style.backgroundImage = `url(${image.dataset.image})`

    </script>