<%= layout('layouts/boilerplate') %>

    <head>
        <link rel="stylesheet" href="/stylesheets/nicepage.css">
        <link rel="stylesheet" href="/stylesheets/talent-agency.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    </head>


    <div class="main-container">


        <section class="u-align-left u-clearfix u-gradient u-typography-Normal--Introduction u-section-1" src=""
            id="carousel_3d03">
            <img class="u-expanded-width u-image u-image-1" src="/assets/photoshoot-talent-agency.jpg">
            <h5 class="u-custom-font u-font-open-sans u-text u-text-body-alt-color u-text-1">find what you need</h5>
            <h1
                class="u-align-center-md u-align-center-sm u-align-center-xs 
                u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-2">
                Talent Agency<br>
            </h1>
            <div class="u-list u-repeater u-list-1">
                <% for (let i = 0; i<talents.length; i++) { %> 
                    <div class="u-align-right u-container-style u-image u-list-item u-repeater-item u-image-<%=i+2%>" 
                        data-image="<%= talents[i].photo %> ">
                        <a class="profession" href="talent-agency/<%=talents[i]._id%>">
                            <%= talents[i].profession %>
                        </a>
                    </div>
                <% } %> 
            </div>
        </section>
    </div>
    <script src="/scripts/talent-agency.js"></script>